<div class="col-sm-6">
<h2>Question:</h2>
  <h4>{{question.pregunta}}</h4>
  <span style="font-weight:bold">Additional Details:</span><br> {{question.additional}}<br>
  <h6> Posted by {{question.author}}</h6>
</div>

<div class="col-sm-6">
  <h2> Answers: </h2>
    {{#each question.answers as |answer|}}
      {{answer-tile answer=answer}}<br>
    {{/each}}
</div>
