
  <h4>{{#link-to 'question' question.id}}{{question.pregunta}}{{/link-to}}</h4>
  <h5>By {{question.author}}</h5>
  <h6>Answer Total: {{answerCount}}</h6>


<div>
<button type="button" class="btn btn-warning" {{action 'addToFavorites' question}}>Add to Favorites</button>
</div>
