<div class= "container">
  <header class= "jumbotron">
      <h1>Doin' it Baja!</h1><h2>Q & A about traveling South</h2>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'index'}}Home{{/link-to}} || {{#link-to 'about'}}About{{/link-to}} || {{#link-to 'contact'}}Contact{{/link-to}}
  </footer>
</div>
