<div class= "container">
  <header class= "jumbotron">
      <h1>DOIN' IT BAJA!</h1><h2>Q & A About Traveling South</h2>
      <div class="links">{{#link-to 'index'}}Home{{/link-to}} || {{#link-to 'favorite'}}Favorite Questions{{/link-to}} || {{#link-to 'about'}}About{{/link-to}} || {{#link-to 'contact'}}Contact{{/link-to}}</div>
  </header>
    {{outlet}}
  <hr>


</div>
