<h2>Recent Questions:</h2>
<br>
<ul>
  {{#each model.questions as |question|}}
    {{question-popularity question}} {{question-tile question=question}}
    <hr>
  {{/each}}
</ul>
<br>
{{new-question saveQuestion2="saveQuestion3"}}
