{{question-detail question=model}}

<div class="col-sm-6">
{{update-question question=model update="update"}}
</div>

<div class="col-sm-6">
{{new-answer saveAnswer="saveAnswer" question=model}}
</div>
